
:root{
    --color-1: #8B2635;
    --color-2: #34344A;
    
    --color-label-promo: #973F3F;
    --color-label-event: #4D5462;
    --color-label-other: #216F81; 

    --font-1: "Open sans", sans-serif;
    --font-2: "Montserrat", sans-serif;
}